/*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^
*^*^*^*^*^*^*^*^         BASE         *^*^*^*^*^*^*^*^*^*^*
^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*/

body {
  font-size: $base-fs;
  line-height: $base-lh;
  font-weight: 300;
  background: $color-site-bg;
  color: $color-text;
}

a,
a:visited {
  color: $color-link;
  text-decoration: none;
}

a:hover,
a:active {
  color: $color-link-hover;
}

a:active {
  transform: scale(0.95);
  display: inline-block;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^
*^*^*^*^*^*^*^*^*^   LAYOUT / MODULES   *^*^*^*^*^*^*^*^*^*
^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*/

.site-header {
  color: #fff;
}

.header-image {
  position: fixed;
}

.site-main,
.site-footer {
  background: $color-site-bg;
  position: relative;
}

.site-main {
  padding-top: $lead-triple;
}

section {
  margin-bottom: $lead-triple;
}

blockquote {
  margin-bottom: $lead-double;
}

.iphone-mock {
  float: right;
  position: relative;
  margin-top: 3em;

  img {
    width: auto;
    max-height: 700px;
  }
}