/*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^
*^*^*^*^*^*^*^*^         BASE         *^*^*^*^*^*^*^*^*^*^*
^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*/

html {
  min-width: 320px;
}

body {
  font-size: $base-fs;
  line-height: $base-lh;
  font-weight: 300;
  background: $color-site-bg;
  color: $color-text;
}

a,
a:visited {
  color: $color-link;
  text-decoration: none;
  transition: all 0.15s ease-in;
}

a:hover,
a:active {
  color: $color-link-hover;
  transition: all 0.25 ease-out;
}

a:active {
  transform: scale(0.95);
  display: inline-block;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;

  &.pull-left,
  &.pull-right {
    width: auto;
  }
}

.img-margin {
  margin: 0 $lead $lead;

  &.pull-right {
    margin-right: 0;
  }

  &.pull-left {
    margin-left: 0;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^
*^*^*^*^*^*^*^*^*^   LAYOUT / MODULES   *^*^*^*^*^*^*^*^*^*
^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*/

.site-header {
  color: #fff;
}

.header-image {
  position: fixed;
  min-width: 640px;
}

.title-block {
  text-align: center;
  margin: $lead-double 0;
}

.site-description {
  margin-bottom: $lead;
}

.arrow-down {
  padding: 1em;
  margin: 0 auto;
  display: inline-block;

  &:before {
    content: '';
    border: 8px transparent solid;
    border-top-color: #fff;
  }
}

.site-main,
.site-footer {
  background: $color-site-bg;
  position: relative;
}

.site-main {
  padding-top: $lead-triple;
}

section {
  margin-bottom: $lead-triple;
}

blockquote {
  margin-bottom: $lead-double;
}

.iphone-mock {
  max-width: 412px;
  position: relative;
  margin: 0 auto;

  img {
    width: auto;
    max-height: 700px;
  }

  .screen-animation,
  .screen-placeholder {
    position: absolute;
    width: 61.7%;
    top: 13.6%;
    left: 21.1%;
  }
}

.protoio-embed-prototype {
  margin-left: 1.75em;
  max-width: 100%;
  width: 100%;
  height: 400px;
  display: none;
}

.social {
  margin: 0 auto;
  position: relative;
}

a.social-icon {
  display: block;
  width: 60px;
  height: 50px;
  opacity: 0.5;

  &.twitter {
    background: url('../images/icon-twitter.png') center center no-repeat;
    background-size: 38px 38px;
    float: left;
  }

  &.dribbble,
  &.dribbble:active {
    background: url('../images/icon-dribbble.png') center center no-repeat;
    background-size: 38px 38px;
    margin: 0 auto;
  }

  &.github {
    background: url('../images/icon-github.png') center center no-repeat;
    background-size: 38px 38px;
    float: right;
  }

  &:hover,
  &:active {
    opacity: 1;
  }
}

.footer-logo,
.footer-logo:active {
  background: url('../images/zjh-logo@2x.png') no-repeat;
  background-size: 96px 96px;
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 auto $lead-double;
}

.license {
  text-align: center;
  @extend small;
}
