::-moz-selection{
  background: $selection-bg;
  color: $selection-c;
}
::selection{
  background: $selection-bg;
  color: $selection-c;
}

@function remCalc($pxWidth) {
  @return $pxWidth / $em-base * 1rem;
}

// Clearfix
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
