::-moz-selection{
  background: $selection-bg;
  color: $selection-c;
}
::selection{
  background: $selection-bg;
  color: $selection-c;
}

@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

@function remCalc($pxWidth) {
  @return $pxWidth / $em-base * 1rem;
}

.arrow-down {
  padding: 1em;
  margin-left: -1em;

  &:before {
    content: '';
    border: 8px transparent solid;
    border-top-color: #fff;
    display: inline-block;
  }
}