$sans-serif: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

// Augmented fourth type scale: 1.414
$ts-1: 0.707em;
$ts-2: 1.000em;
$ts-3: 1.414em;
$ts-4: 1.999em;
$ts-5: 2.827em;
$ts-6: 3.998em;

p {
  font-size: $ts-2;
}

small {
  font-size: $ts-1;
}

strong,
b {
  font-weight: 500;
}

h1 {
  font-weight: 100;
  font-size: $ts-5;
  line-height: 1;
}

h2 {
  font-size: $ts-3;
  font-weight: 300;
  line-height: 1;
}

h3 {
  font-size: $ts-2;
  font-weight: 500;
}