// Base measurements
$base-fs:           18px;
$base-lh:           1.4;

$lead:              $base-fs * $base-lh; // 1 lead for vertical rhythm
$lead-half:         $lead / 2;
$lead-double:       $lead * 2;
$lead-triple:       $lead * 3;
$lead-quadruple:    $lead * 4;

// Colors
$color-site-bg:     #fff;
$color-text:        #666B84;
$color-link:        #F56438;
$color-link-hover:  #CC3F14;

$selection-bg:      $color-text;
$selection-c:       $color-site-bg;

// Breakpoints
$x-tiny-screen: emCalc(320);
$tiny-screen: emCalc(480);
$small-screen: emCalc(640);
$medium-screen: emCalc(768);
$large-screen: emCalc(1024);
$x-large-screen: emCalc(1440);

$screen: "only screen";
$x-tiny: "only screen and (min-width: #{$x-tiny-screen})";
$tiny: "only screen and (min-width: #{$tiny-screen})";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$x-large: "only screen and (min-width: #{$x-large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";